//Esquema de cores 
$corPrincipal:#182C61;
$corDefundo: #f5f6fa;
$corTag_a: #fff;
$corButton:#44bd32;
$corButtonHover:#d13758;


// Breakpoints
$mobile: 767px;
$tablet: 1024px;


// fontes
$fontPrincipal: Roboto, sans-serif;
